* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    background-color: #001A0A;
}

.image1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/IMG_0430.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.portfolio-section {
    text-align: center;
}

.about {
    background-color: #001A0A;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 50px;
}

.text {
    text-align: center;
    left: 50%;
    color: white;
}


.website {
    height: 500px;
    margin: 50px;
}

.about-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/IMG_2035.JPG);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.me {
    width: 400px;
    border-radius: 10px;
}

p {
    padding-top: 50px;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 800px;
}

h1 {
    padding: 20px;
    font-size: 7vh;
    color: white;
    font-family: 'Poppins', sans-serif;
}

input {
    background-color: #ffffff10;
    text-indent: 15px;
    color: white;
    border: none;
    font-size: 40px;
    margin: 10px;
    border-radius: 40px;
    height: 20%;
    width: 60%;
}

input::placeholder {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-indent: 15px;
}

textarea {
    background-color: #ffffff10;
    text-indent: 15px;
    color: white;
    border: none;
    font-size: 40px;
    margin: 10px;
    border-radius: 40px;
    height: 283px;
    width: 60%;
}

textarea::placeholder {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-indent: 15px;
}

button {
    background-color: #005F24;
    border: none;
    font-size: 40px;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    height: 66px;
    border-radius: 48px;
    cursor: pointer;
}

button:hover {
    background-color: #00a43f;
}

@media screen and (max-width: 1000px) {
    p {
        font-size: 26px;
    }
    .me {
        width: 40%;
    }
    h1 {
        font-size: 34px;
    }
    input {
        width: 70%;
        height: 50px;
        font-size: 26px;
    }
    textarea {
        width: 70%;
        height: 200px;
        font-size: 26px;
    }
    button {
        width: 50%;
        height: 50px;
        font-size: 26px;
    }
}

@media screen and (max-width: 1385px) {
    .about {
        flex-direction: column;
    }
}